
{% extends "base.html" %}

{% block main %}

	{% if properties %}
		<div class="container">
		<div class="row">
		{% for propT in properties %}
            {% if propT.id == propertyid %}
			<div class="col-sm-4 card-space">
				<div class="card">
					<img class="card-img-top" src="{{ url_for('static', filename='uploads/' + propT.photo) }}" alt="Card image" style="width:100%; height:150px;">  
					<div class="card-body">
					<h4 class="card-title">{{ propT.descript}}
					<p class="card-text"><span class="">{{ propT.location }}</span></p>
					<p class="card-text"><span class="">${{ propT.price }}</span></p>
					</div>
					<a href=""><input type="button" class="btn"/>Email Realtor</a>
				</div>
			</div>
            { endfid }
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}